---
import Layout from '../layouts/Layout.astro';
import ToolLink from '../components/ToolLink.astro';
---

<Layout title="Tad's Tools">
	<main>
		<h1 class="text-lg font-extrabold">Tad's Tools</h1>
		<p class="instructions text-sm">
			A set of everyday tools for the everyday man.
		</p>
		<ul role="list" class="link-card-grid">
			<ToolLink
				href="https://docs.astro.build/"
				title="Markdown Link to <img />"
			/>
			<ToolLink
				href="https://docs.astro.build/"
				title="Emoji to Favicon"
			/>
			<ToolLink
				href="https://docs.astro.build/"
				title="regex101"
				isExternal={true}
			/>
			<ToolLink
				href="https://docs.astro.build/"
				title="Generate UUID"
				isExternal={true}
			/>
		</ul>
	</main>
</Layout>

<style>

</style>
