---
export interface Props {
	title: string;
	href: string;
	isExternal?: boolean;
}

const { href, title, isExternal } = Astro.props as Props;
const { pathname } = Astro.url;
---

<div
	class={`link-card text-sm px-2 py-1 rounded ${
		pathname === href ? "bg-cyan-600 text-white" : ""
	}`}
>
	<a href={href} target={isExternal ? "_blank" : ""}>
		<h2>
			{title}
			{isExternal ? <span>↗</span> : null}
		</h2>
	</a>
</div>
<style>

</style>
